*{
  
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: 'Source Code Pro', cursive;
}

ul{
  background-color: #1E8481;
  
}

section{
  background-color: #222222;
  min-height: 100vh;
}

#landing{
  padding-top: 5rem;
  color: wheat;
}

.links{
  color: wheat;
}

#btn-work{
  background-color: #1E8481;
  color: #222222;
  border-color: #1E8481;
}

#btn-work:hover{
  background-color: wheat;
  outline-color:#1E8481 ;
}

#nav{
  background-color: #1E8481;
  opacity: 0.9;
  height: 3.8rem;
  color: wheat;
}

#logoNav{
  float: left;
  color: wheat;
}

#logo{
  font-size: 2rem;
  color: wheat;
}

#aboutMe{
  background-color: wheat;
  color: #222222;
}

i{
  font-size: 2rem;
}

.hello{
  height: 20rem;
  width: 30rem;
}

.hi{
  width: 15%;
  height: 65%;
}

#secondRow{
  width: 28%;
}

#myName{
  border-bottom: 2px solid wheat;
}

#projects{
  background-color: #222222;
  color: wheat;
}

.photo{
  opacity: 0.5;
}

.photo:hover{
  opacity: 1;
}

#contactMe{
  background-color: wheat;
}

#form{
  background-color: #222222;
  color: wheat;
}

#send{
  background-color: wheat;
  color: #1E8481;
}

#send:hover{
  background-color: #1E8481;
  color: wheat;
}

#formGroup{
  color: wheat;
}

#containerAbtMe{
  background-color: wheat;
  
}

footer{
  background-color: #1E8481;
}

#supplementaryFooter{
  background-color: wheat;
}

#lastFooter{
  background-color: #1E8481;
  color: wheat;
}

.ftr{
  margin-bottom: 0px;
}

.foooter{
  color: #222222;
  
}

#abtMe{
  border-bottom: 2px solid #1E8481;
  display: inline;
}

.headFooter{
  border-bottom: 1px solid #222222;
  display: inline-block;
}

.linksFooter{
  color: #222222;
}